<h2>Recent turns</h2>
<ng-container *alias="recentTurns$ | async as turns">
  <mat-nav-list *ngIf="turns?.length; else noRecentTurns">
    <a mat-list-item *ngFor="let turn of turns" [routerLink]="['/turns', turn.id]">
      <mat-icon matListIcon>{{ turn.icon }}</mat-icon>
      <h4 matLine>{{ turn.label }}</h4>
      <p matLine>{{ turn.timestamp | date: 'medium' }}</p>
    </a>
  </mat-nav-list>
  <ng-template #noRecentTurns>
    <p class="mt-4"><i>No recent turns yet</i></p>
  </ng-template>
</ng-container>
