<mat-drawer-container
  class="h-full"
  *alias="isLargeScreen$ | async as isLargeScreen"
  [hasBackdrop]="!isLargeScreen"
>
  <mat-drawer #drawer [mode]="isLargeScreen ? 'side' : 'over'" [opened]="isLargeScreen">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="closeOverMenu(drawer)">
        <mat-icon matListIcon>home</mat-icon>
        <p matLine>Home</p>
      </a>
      <h3 mat-subheader>Turns</h3>
      <a
        mat-list-item
        *ngFor="let turn of turns$ | async"
        [routerLink]="['/turns', turn.id]"
        (click)="closeOverMenu(drawer)"
        ><mat-icon matListIcon>{{ turn.icon }}</mat-icon>
        <p matLine>{{ turn.label }}</p></a
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="sticky z-10 pin-t">
      <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      Who's turn?</mat-toolbar
    >
    <main class="p-6 block">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

<nav class="fixed pin-b pin-r p-4 z-10">
  <button mat-fab (click)="createNewTurn()"><mat-icon>add</mat-icon></button>
</nav>
